---
# yaml-language-server: $schema=https://kubernetes-schemas.dxas90.work/helm.toolkit.fluxcd.io/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: redis
  namespace: database
spec:
  interval: 30m
  timeout: 15m
  chart:
    spec:
      # renovate: registryUrl=oci://registry-1.docker.io/bitnamicharts
      chart: redis
      version: 20.3.0
      sourceRef:
        kind: HelmRepository
        name: bitnami
        namespace: flux-system
  dependsOn:
    - name: local-path-provisioner
      namespace: kube-system
  maxHistory: 2
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 2
  uninstall:
    keepHistory: false
  values:
    global:
      storageClass: "local-path"
    auth:
      enabled: false
      sentinel: false
    sentinel:
      enabled: true
      masterSet: redis-master
      getMasterTimeout: 10
      startupProbe:
        failureThreshold: 2
      persistence:
        enabled: false
    metrics:
      enabled: true
      serviceMonitor:
        enabled: true
        interval: 1m
