#shellcheck disable=SC2148,SC2155
export KUBECONFIG="$(expand_path ./kubeconfig)"
export SOPS_AGE_KEY_FILE="$HOME/.config/sops/age/keys.txt"
export SOPS_AGE_RECIPIENTS=$(<.sops.pub.asc)
# ansible
export LC_ALL="en_US.UTF-8"
export LC_CTYPE="en_US.UTF-8"
PATH_add "$(expand_path ./.venv/bin)"
PATH_add "$(expand_path ~/.local/bin)"
export VIRTUAL_ENV="$(expand_path ./.venv)"
export ANSIBLE_CONFIG=$(expand_path ./ansible.cfg)
export ANSIBLE_COLLECTIONS_PATH=$(expand_path ./.venv/galaxy):~/.ansible/playbooks:./ansible/playbooks
export ANSIBLE_ROLES_PATH=$(expand_path ./.venv/galaxy/ansible_roles):~/.ansible/roles:./ansible/roles
export ANSIBLE_VARS_ENABLED="host_group_vars,community.sops.sops"
export ANSIBLE_VAULT_PASSWORD_FILE="$(expand_path ./.vault_pass)"
export ANSIBLE_INVENTORY=$(expand_path ./ansible/inventory/hosts.yaml)
export K8S_AUTH_KUBECONFIG="$(expand_path ./kubeconfig)"

export DEFAULT_IFACE=$(ip route | grep "default" | head -n 1 | awk '{print $5}')
export DEFAULT_GATEWAY=$(ip route | grep "default" | head -n 1 | awk '{print $3}')
export CURRENT_IP=$(ip addr show ${DEFAULT_IFACE} | grep "inet " | awk '{print $2}' | cut -d '/' -f 1 | tr -d ' ' | head -n 1)
export CURRENT_CIDR=$(ip route | grep "proto kernel scope link" | grep ${DEFAULT_IFACE} | awk '{print $1}')
export CURRENT_EXTERNAL_IP=$(curl -sS https://icanhazip.com | tr -d '\"')
